* {
  box-sizing: border-box;
  padding: 1;
  margin: 1;
}

body {
  background-color: #99dcc0;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1%;
}

header {
  background-color: #f1a1d7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav {
  display: flex;
  padding: auto;
}

header nav li {
  list-style-type: none;
  margin: 0px 10px 0px 10px;
}

h2 {
  background-color: #64da93;
}

a:link {
  color: rgb(164, 11, 247);
}

a:visited {
  color: #0773ee;
}

a:hover {
  color: #15df29;
}

a:active {
  color: #cfa2e1;
}
